<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Runnable.Register_validation$validation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>duplicate_mobile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_mobile</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>terms_not_accept</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_password</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>blank_register_data</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>invalid_email</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>duplicate_email</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
