<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:07:46</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Register_validation$validation.befortest()[pri:0, instance:Runnable.Register_validation$validation@6e1ec318]">&gt;&gt;befortest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:07:58</td>   <td>11939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.invalid_email()[pri:1, instance:Runnable.Register_validation$validation@6e1ec318]">invalid_email</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:13</td>   <td>26680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.invalid_mobile()[pri:2, instance:Runnable.Register_validation$validation@6e1ec318]">invalid_mobile</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:14</td>   <td>27414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.invalid_password()[pri:3, instance:Runnable.Register_validation$validation@6e1ec318]">invalid_password</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:14</td>   <td>28068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.terms_not_accept()[pri:4, instance:Runnable.Register_validation$validation@6e1ec318]">terms_not_accept</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:18</td>   <td>31429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.duplicate_email()[pri:5, instance:Runnable.Register_validation$validation@6e1ec318]">duplicate_email</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:23</td>   <td>36915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.duplicate_mobile()[pri:6, instance:Runnable.Register_validation$validation@6e1ec318]">duplicate_mobile</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:27</td>   <td>40238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Register_validation$validation.blank_register_data()[pri:7, instance:Runnable.Register_validation$validation@6e1ec318]">blank_register_data</td> 
  <td>main@1734161410</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>18/10/24 12:08:28</td>   <td>41867</td> <td>&nbsp;</td><td title="&lt;&lt;Register_validation$validation.aftertest()[pri:0, instance:Runnable.Register_validation$validation@6e1ec318]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1734161410</td>   <td></td> </tr>
</table>
