<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61b7af">  <td>18/10/24 12:33:28</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Contact_US.befortest()[pri:0, instance:General.Contact_US@527740a2]">&gt;&gt;befortest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/10/24 12:33:40</td>   <td>11520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Contact_US.Contact_Mandatory_Validate()[pri:1, instance:General.Contact_US@527740a2]">Contact_Mandatory_Validate</td> 
  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/10/24 12:33:45</td>   <td>16196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Contact_US.Invalid_Email_Address()[pri:2, instance:General.Contact_US@527740a2]">Invalid_Email_Address</td> 
  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/10/24 12:33:45</td>   <td>17032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Contact_US.Contact_Submit_Success()[pri:3, instance:General.Contact_US@527740a2]">Contact_Submit_Success</td> 
  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="61b7af">  <td>18/10/24 12:33:48</td>   <td>19693</td> <td>&nbsp;</td><td title="&lt;&lt;Contact_US.aftertest()[pri:0, instance:General.Contact_US@527740a2]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
</table>
